/* #root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; 
  text-align: center;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
html, body{
  /* width: 100%; */
  height: 100vh;
  overflow: auto;
}#root{
  height: 100vh;
  width: 100%;
}
.App{
  height: 100%;
  width: 100%;
}
.PaginaLogin {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
}
.PaginaLogin .FormContenedor{
  width: 400px;
}
.Formulario{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;        
  max-height: 600px;        
  overflow: hidden;       
}
.FormContenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px);
  width: 350px;
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}
.logo{
  height: 75px;
}
.gatitos{
  height: 320px;
}
.titulo{
  color: #4A90E2;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 20px;
}
.pNegrita{
  font-weight: 500;
}
.FormContenedor .inputLogin{
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 0.95rem;
  transition: border-color 0.2s;
}
.FormContenedor input:focus{
  border-bottom-color: #4A90E2;
}

.FormContenedor button {
  width: 100%;
  padding: 8px;
  background-color: #7E57C2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}
.FormContenedor button:hover {
  background-color: #9C51C7;
}


/* Contenedor registro u general */
.PaginaRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  /* padding: 10px 4rem; */
  box-sizing: border-box;
}
.PaginaRegistro .FormContenedor{
  padding: 10px 4rem;
  margin-left: 10px;
  height: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
} 
.ContenedorFormulario {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Inputs */
.inputGen, .inputMitad {
  width: 100%;
  padding: 9px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 0.95rem;
  transition: 0.2s;
}
.inputGen:focus, .inputMitad:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.3);
}
.filaInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 369px;
}
.inputMitad {
  flex: 1;
}
.ContenedorImagen {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;overflow: hidden;
}
.perro {
  max-height: 60vh;
  margin-right: 6rem;
  object-fit: contain;
}

/*Estructura pantalla general*/
.Cont-Padre{
  display: flex;
  height: 100vh;
}
.menu-lateral{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 290px; /* Ancho fijo para el menú */
  flex-shrink: 0; /* Evita que se encoja si no hay espacio */
  background-color: #d5e5f8; 
  border-radius: 42px;
  border: solid white 30px;
  font-family: 'Poppins', sans-serif;
}
/* 2. Estilos del Área de Contenido (Ocupa el resto) */
.area-contenido{
  margin-left: 290px;
    flex-grow: 1; /* Esto hace que ocupe todo el espacio sobrante */
    padding: 30px;
    background-color: #ffffff;
    /* overflow-y: auto; */
}
/* Menuuu */
.sidebar{
  width: 220px;
  height: 100%; 
  /* background-color: #d5e5f8; azul clarito como en la imagen */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Logo{
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.Logo img{
  height: 50px;
}
.vet {
  color: black; /* Vet negro */
}
.sur {
  color: #3b6cff; /* Sur azul */
}
.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.superior, .inferior{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-item {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.5s;
  /* font-family: "Poppins", sans-serif; */
}
.menu-item:hover, .menu-item:focus {
  background-color: #abccf1; /* efecto hover */
  color: black;
  /* font-weight: 600; */
}
.icono{
  height: 20px;
  margin-right: 20px;
}