/* #root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; 
  text-align: center;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}
html, body{
  /* width: 100%; */
  height: 100vh;
  overflow: auto;
}#root{
  height: 100vh;
  width: 100%;
}
.App{
  height: 100%;
  width: 100%;
}
.PaginaLogin {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
}
.PaginaLogin .FormContenedor{
  width: 400px;
}
.Formulario{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;        
  max-height: 600px;        
  overflow: hidden;       
}
.FormContenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px);
  width: 400px;
  padding: 2rem;
  border-radius: 15px;
  background-color: #fff;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}
.logo{
  height: 75px;
}
.gatitos{
  height: 320px;
}
.titulo{
  color: #4A90E2;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 20px;
}
.pNegrita{
  font-weight: 500;
}
.FormContenedor .inputLogin{
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 0.95rem;
  transition: border-color 0.2s;
}
.FormContenedor input:focus{
  border-bottom-color: #4A90E2;
}

.btn-violeta {
  width: 100%;
  padding: 8px;
  background-color: #7E57C2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}
.btn-violeta:hover {
  background-color: #9C51C7;
}


/* Contenedor registro u general */
.PaginaRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  /* overflow: hidden; */
  background-color: #fff;
  /* padding: 10px 4rem; */
  box-sizing: border-box;
}
.PaginaRegistro .FormContenedor{
  padding: 10px 3rem;
  margin-left: 10px;
  height: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
} 
.ContenedorForm{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContenedorFormulario {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Inputs */
.inputGen, .inputMitad {
  width: 100%;
  padding: 9px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 0.95rem;
  transition: 0.2s;
}
.inputGen:focus, .inputMitad:focus {
  border-color: #7E57C2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.3);
}
.filaInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.inputMitad {
  flex: 1;
}
.ContenedorImagen {
  /* flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; */
  /* margin-left: 50px; */
  overflow: hidden;
}
.perro {
  max-height: 60vh;
  margin-left: 6rem;
  object-fit: contain;
}

/*Estructura pantalla general*/
/* .Cont-Padre{
  display: flex;
  height: 100vh;
} */
 .layout {
  display: flex;
  height: 100vh;
}
.menu-lateral{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px; /* Ancho fijo para el menú */
  flex-shrink: 0; /* Evita que se encoja si no hay espacio */
  background-color: #d5e5f8; 
  border-radius: 42px;
  border: solid white 30px;
  font-family: 'Poppins', sans-serif;
}
/* 2. Estilos del Área de Contenido (Ocupa el resto) */
.area-contenido{
  margin-left: 290px;
  flex-grow: 1; /* Esto hace que ocupe todo el espacio sobrante */
  padding: 30px;
  background-color: #ffffff;
  /* overflow-y: auto; */
}
/* Menuuu */
.sidebar{
  width: 220px;
  height: 100%; 
  /* background-color: #d5e5f8; azul clarito como en la imagen */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Logo{
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.Logo img{
  height: 50px;
}
.vet {
  color: black; /* Vet negro */
}
.sur {
  color: #3b6cff; /* Sur azul */
}
.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.superior, .inferior{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-item {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.5s;
  /* font-family: "Poppins", sans-serif; */
}
.menu-item:hover, .menu-item:focus {
  background-color: #abccf1; /* efecto hover */
  color: black;
  /* font-weight: 600; */
}
.icono{
  height: 20px;
  /* margin-right: 10px; */
}
.banner{
  border-radius: 18px;
}

.cont-form {
  margin-right: 350px;
  /* max-width: 900px;
  margin: 40px auto;
  background-color: white; */
  /* padding: 30px 40px; */
  /* border-radius: 12px; */
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.05); */
}

.cont-form h2 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #222;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-bottom: #CDCDCD 1px solid;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

span {
  font-weight: 600;
  color: #555;
  font-size: 1.1rem;
}

.inputs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 230px;
}
.form-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.form-button .btn-violeta{
  width: 150px;
  margin-top: 0;
}
.cont-buscador{
  display: flex;
  flex-direction: row;
}
.buscador{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: #ccc;
  width: 293px;
  padding: 10px;
  border:#ccc 1px solid;
  border-radius: 12px;
  margin: 10px 0 40px 0;
}
.buscador:focus{
  border: 1px #7E57C2 solid;
}
.input-buscador{
  border: none;
  outline: none;
  font-size: 0.95rem;
}
.listado-clientes-container {
  width: max-content;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden; /* para redondear bien el borde superior */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.listado-clientes-container .tabla{
  margin-top: 12px;
}
.thead {
  background-color: #d5e5f8;
  color: #000;
}
th {
  text-align: left;
  padding: 12px 15px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}
td {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  color: #333;
}
.thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.btn-edit{
  color: #7E57C2;
}
.btn-estado {
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Cuando el servicio está activo → verde */
.btn-estado.activo {
  background-color: #28a745; /* verde */
}

/* Cuando el servicio está inactivo → rojo */
.btn-estado.inactivo {
  background-color: #dc3545; /* rojo */
}
.mensaje-bienvenida {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 40%;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 15px;
  font-weight: bold;
  animation: fadeOut 4s ease forwards;
}
.mensaje-bienvenida.exito{
  background-color: #d4edda;
}
.mensaje-bienvenida.error{
  background-color: #dc3545;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

/*home*/
/* Contenedor principal */
.contenedor-turno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

/* Tarjeta de turno */
.card-turno {
  border: 1.5px solid #9c5df5;
  border-radius: 10px;
  padding: 14px 18px;
  width: 330px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}
.card-turno .btn-violeta{
  width: auto;
}

/* Títulos y textos */
.titulo-turno {
  font-weight: 600;
  margin: 0;
  color: #000;
}

.texto-turno {
  font-size: 14px;
  color: #333;
  margin: 2px 0;
}

.btn-violeta.grande {
  padding: 10px 20px;
  font-size: 15px;
}

/* Estado sin turno */
.sin-turno {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.sin-turno p {
  margin-bottom: 10px;
}
/*servicios seccion*/
.servicios-container {
  text-align: left;
  margin: 30px 0;
}

.titulo-servicios {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}

.grid-servicios {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 330px));
  gap: 30px;
  margin: 20px 0;
}
/* h3{
  font-family: "Poppins", sans-serif;
} */
.card-servicio {
  border: 1px solid #4A90E2; /* bordecito violeta suave */
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  background-color: #fff;
  width: 330px;
}

.card-servicio:hover {
  transform: translateY(-4px);
}

.icono-servicio {
  background-color: #d5e5f8;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px auto;
  font-size: 28px;
}
.serv-img{
  height: 40px;
  width: auto;
}
.nombre-servicio {
  font-weight: 500;
}
.card-vete{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-vete{
  background-color: #d5e5f8;
  border-radius: 50%;
  border: 1px solid #4A90E2;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vete-img{
  height: 100px;
  width: auto;
}
.nombre-vete{
  color: #555;
}

/*Footer*/
.footer {
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 25px 40px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.footer-contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 15px;
}

.footer-contacto h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.footer-contacto p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.icono {
  font-size: 18px;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logos img {
  height: 35px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footer-logos img:hover {
  opacity: 1;
}

.footer-copy {
  text-align: center;
  color: #777;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

/*error sintax*/
.error{
  color: red;
  font-size: 14px;
}

/*paginacion*/
.paginacion {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.paginacion button {
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #7E57C2;
  color: white;
}
.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  thead tr {
    display: none; /* oculta el encabezado */
  }
  
  tbody tr {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  
  td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  td::before {
    content: attr(data-label);
    font-weight: bold;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-info p {
  margin: 0.3rem 0;
}

.card-actions {
  margin-top: 0.5rem;
  text-align: right;
}

/* .btn-edit {
  background-color: #7b5fff;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
} */
